fastapi==0.115.0
uvicorn==0.30.5
python-multipart==0.0.9
twilio==9.3.0

SQLAlchemy==2.0.36
psycopg2-binary==2.9.9

openai==1.52.0
httpx==0.28.1
pydantic==2.9.2

google-api-python-client==2.147.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
